@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Cabin:ital,wght@0,500;1,500&family=Josefin+Sans&display=swap');

/* Global class: remove presets on hyperlinks */
a {
    color: inherit;
    text-decoration: inherit;
}

/* Global class: game: hidden*/
.hidden {
    visibility: hidden;
}

/* Global class: make width 95% */

.w95 {
    width: 95%;
    margin: auto;
}

/* Global class: Uppercase */
.upper-case {
    text-transform: uppercase;
}

/* Global class: colour body */
body {
    background-color: grey;
}

/* Active page class */
.active-page {
    text-decoration: underline wavy;
}

/*------------NAVIGATION BAR-----------------*/
/* Whole header secion */
#header-section {
    height: 120px;
    background-color: #F5F5F5;
}

/* Divs that hold the logo and navigation bar list */
.header-item {
    display: inline-block;
    margin: auto;
}

/* Header logo div */
#header-logo {
    color: black;
    width: 60%;
    font-family: "Josefin Sans";
}

/* Header logo contents */
#logo {
    margin: auto;
    padding-top: 37px;
    padding-left: 10px;
}

/* Logo font awesome */
.brand-icon {
    color:#CF1020;
}

/* Logo link anchor */
#logo-link {
    display: inline-block;
    height: 120px;
    width: 100%;
}

/* Navigation links div */
#nav-links-div {
    width: 40%;
}

/* Navigation unordered list */
#nav-list {
    justify-content: right;
}

/*Individual list items */
.nav-list-item {
    width: 90px;
}

/* Navigation anchor */

.nav-link-red,
.nav-link-black {
    display: inline-block;
    width: 95%;
    height: 116px;
    border: 2px solid black;
    border-radius: 8%;
    margin: auto;
    background-color: #F5F5F5;
}

.nav-link-red {
    color: #CF1020;
}

.nav-link-black {
    color: #333A3F;
}
.nav-link-red-hover{
    display: inline-block;
    width: 95%;
    height: 116px;
    border: 2px solid black;
    border-radius: 8%;
    margin: auto;
    background-color: #CF1020;
    color: #F5F5F5;
}
.nav-link-black-hover{
    display: inline-block;
    width: 95%;
    height: 116px;
    border: 2px solid black;
    border-radius: 8%;
    margin: auto;
    background-color: #333A3F;
    color: #F5F5F5;
}

/* Navigation font-awesome: top */
.nav-icon-top {
    text-align: left;
    padding-left: 5px;
}

/* Navigation link name */
.nav-item-name {
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
}

#home-text {
    padding-top: 15px;
}

#how-to-play-text,
#contact-me-text {
    padding-top: 6px;
}

/* Navigation font-awesome: bottom */
.nav-icon-bottom {
    text-align: right;
    align-self: flex-end;
    margin: 0;
    padding-right: 5px;
}

#nav-icon-bottom-home {
    padding-top: 23px;
}

#nav-icon-bottom-how,
#nav-icon-bottom-contact {
    padding-top: 9px;
}





/* ID specific footer */
#footer {
    position:relative;
    bottom: 0;
    background-color: white;
}


/* Keep footer at the bottom of the page */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


/* Game area */


/* Classes */
/* Card images */
.card-image {
    width: 140px;
    height: 210px;
    padding: 10px;
    border: 5px solid black;
    margin-top: 10px;
}


/* Center the cards within the divs */
.card-div {
    display: inline-block;
    text-align: center;
}

/* Game length display box */
#length-box {
    height: 100px;
    width: 100px;
    border: solid 1px black;
}



