@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Cabin:ital,wght@0,500;1,500&family=Josefin+Sans&display=swap');

/* Global class: remove presets on hyperlinks */
a {
    color: inherit;
    text-decoration: inherit;
}

/* Global class: game: hidden*/
.hidden {
    visibility: hidden;
}

/* Global class: make width 95% */

.w95 {
    width: 95%;
    margin: auto;
}

/* Global class: Uppercase */
.upper-case {
    text-transform: uppercase;
}


body {
    background-color: grey;
}






/* ID specific footer */
#footer {
    position:relative;
    bottom: 0;
    background-color: white;
}


/* Keep footer at the bottom of the page */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


/* Game area */


/* Classes */
/* Card images */
.card-image {
    width: 140px;
    height: 210px;
    padding: 10px;
    border: 5px solid black;
    margin-top: 10px;
}


/* Center the cards within the divs */
.card-div {
    display: inline-block;
    text-align: center;
}

/* Game length display box */
#length-box {
    height: 100px;
    width: 100px;
    border: solid 1px black;
}


/* Test navbar */












/* Whole header secion */
#header-section {
    height: 120px;
    background-color: white;
}

/* Div that holds the logo and div that holds the nav bar list */
.header-item {
    display: inline-block;
}

/* Header logo div (LHS)*/
#header-logo {
    color: black;
    width: 50%;
    font-family: "Josefin Sans";
}

/* Nav links div (RHS) */
#nav-links-div {
    width: 50%;
}

/* UL nav list list */
#nav-list {
    justify-content: right;
}

/*Individual list items */
.nav-list-item {
    width: 80px;
    
}

/* Navigation anchor */
.nav-link {
    width: 95%;
    height: 116px;
    border: 2px solid black;
    border-radius: 8%;
    margin: auto;
}

/* Navigation font-awesome: top */
.nav-icon-top {
    text-align: left;
    padding-left: 5px;
}

/* Navigation link name */
.nav-item-name {
    text-align: center;
    margin: 0;
}

/* Navigation font-awesome: bottom */
.nav-icon-bottom {
    text-align: right;
    align-self: flex-end;
    margin: 0;
    padding-top: 23px;
    padding-right: 5px;
}